# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/

# ---- VSCode ----
.vscode/
*.code-workspace

# ---- C / C++ ----
# Compiled object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled static libraries
*.a
*.lib

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
*.hex
*.elf

# Debug files
*.dSYM/
*.stackdump

# ---- Arduino / ESP ----
# Arduino build folder
*.arduino_build/
*.arduino_cache/
*.arduino/
*.ino.cpp
*.ino.d
*.ino.elf
*.ino.hex

# ESP-IDF specific
build/
sdkconfig
sdkconfig.old

# PlatformIO
.pio/
.piolibdeps/
.pioenvs/

*/.DS_Store